/* Reset browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full screen app layout */
html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8fafc;
  overflow-x: hidden;

  /* Smooth font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}