<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout('Leave Requests', ~{::body})}">

<body>

<h2>Leave Requests</h2>

<table class="data-table">
    <thead>
    <tr>
        <th>Employee</th>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>John Doe</td>
        <td>SICK</td>
        <td>10 Feb 2026</td>
        <td>12 Feb 2026</td>
        <td><span class="status pending">PENDING</span></td>
        <td>
            <button class="primary-btn">Approve</button>
            <button class="danger-btn">Reject</button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>