<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout('Holidays', ~{::body})}">

<body>

<h2>Company Holidays</h2>

<table class="data-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Christmas</td>
        <td>25 Dec 2026</td>
        <td>25 Dec 2026</td>
        <td>
            <button class="danger-btn">Delete</button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>